html, body {
  height: 100%;
  margin: 0;
}

.background-container {
  display: flex;
  height: 100vh;
  background-color: #f9d335; /* Optional background color */
  justify-content: center;  /* Center the child horizontally */
 
  align-items: center;      /* Center the child vertically */
}

.main{

  background-color: #ffffff;
  height: fit-content;  /* Allow the height to fit the content inside */
padding-top: 30px;
padding-bottom: 0px;
padding-right: 50px;
padding-left: 50px;
text-align: center;   /* Optional: center text inside the div */
border-radius: 10px;
box-shadow:  50px 5px 100px rgb(215, 52, 52);
}

.form{
  padding: 7px;
  text-align: left;
  color: #B0BAC3;
}
.form1{
  padding: 7px;
  text-align: left;
  color: #B0BAC3;
}
.name{
  text-align: left;
}
.form2{
  padding: 7px;
  text-align: left;
  color: #B0BAC3;

}

.input{
width: 100%;
  padding-top: 20px;
  text-align: center;
  background-color: #B0BAC3;
  border-radius: 10px;
  border: none;  
}
input::placeholder {
  color: gray;          /* Change the placeholder text color */
  font-size: 12px;      /* Adjust the font size */


}

.button{
  background-color: #F9ED32;
  border: none;
  margin-top: 2%;
  text-align: center;
  padding-left: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 35px;
  font-size: medium;  
  font: poppins;
  border-radius: 10px;
  
}

.botom{
  text-align: left;
  color: #B0BAC3;
  font-size: small;
}

.botom .span{
  color: #f9d335;
  font-size: small;
}

.or{
  color: #B0BAC3;
  font-size: medium;
}
.button1{
  margin-bottom: 20px;
}
.button2{
  background-color: rgb(239, 231, 231);
  padding: 8px;
 border-radius: 10px;
 border: none;
 padding-right: 20px;
padding-left: 20px;
}

.button4{
  background-color: rgb(239, 231, 231);
  padding: 8px;
 border-radius: 10px;
 border: none;
padding-right: 20px;
padding-left: 20px;
margin-left: 20px;
}

.footer{
  font-size: small;
  font-size: 10px;
  color: rgb(11, 67, 67);
  background-color: aliceblue;
}